/***** NAVBAR *****/

.navbar {
    background-color: #00612B;
    border-radius: 0;
}

/* Navbar title */
.navbar-default .navbar-brand {
    color: white;
    font-size: px;
    font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #7DD181;
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
    padding: 10px;
}

/* Navbar collapsed styles */
.navbar-toggler {
    color: #fff;
    border-color: #fff;
    background-color: #00612B;
    border-radius: 4px;
    border: 1px solid;
    fill: #fff;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: #7DD181;
    color: #242424;
    fill: #242424;
    border-color: #fff;

}

/*** JUMBOTRON ***/

.jumbotron {
    background-image: url("../assets/watercolor_map.jpg");
    text-align: center;
    color: #fff;
    padding: 3%;
    border-radius: 0px;
}

.jumbotron h2 {
    font-size: 36px;
    font-weight: bold;
}

.img-responsive{
    width:100%;
}

/*** CARD ***/

.card {
    background-color: #fff;
    border-color: #cccccc;
    border-width: px;
    width: 100%;
}

.card:hover {
    border-color: #7DD181;
    background-color: yellowgreen;
}

.card-title{
    font-weight:bold;
    color:#00612B;
}

.card-icons{
    border-color:#7DD181;
    border-width: px;
    width: 100%;
}

.btn-primary{
    background-color:#00612B;
    border-width: 1px; 
    border-color:#7DD181;
    width: 50%;
    height: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 525;
    align-items: center;
}

.btn-primary:hover {
    border-color:#7DD181;
    background:#7DD181;
}

/*** Basic Text Styles ***/

#about-world {
    max-width: 100%;
}

h1 {
    text-align: center;
    font-weight: bold;
    color:#00612B;
}

h2 {
    color:#00612B;
    font-weight: bold;
    text-align: left;
}

.resume h3 {
    font-weight: bold;
    color:#00612B;
}

.resume h4{
    font-weight: bold;
    color:#242424;
}


hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 20px;
}

a {
    color: #00612B;
}

a:hover {
    color: #7DD181;
}

.container{
    padding:25px 0;
}


body {

    font-family: 'Lato', sans-serif;
    background-color:#EEE5E9;
    color: #242424;
}

.image-shadow{
    filter: drop-shadow(8px 8px 16px rgba(243, 255, 243, 0.8));
}

/*** Portfolio/artist statement page formating ***/
.portfolio-title{
    text-align: left;
    font-weight: bold;
    color:#00612B;
}