body{
    font-family: 'Cardo', serif;
}
p{
    font-size:24px;
}

h1 { 
    text-shadow: 0 0 20px #000000;
    font-family: 'Italianno', serif;
    color: yellow
}

.green {
    background: rgb(104, 164, 88)
}

.blue_background {
    background: rgb(0, 0, 255)
}

.italianno_bold {
    font-family: 'Italianno', serif;
    font-size: 34px;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #7DD181;
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

/* Navbar collapsed styles */
.navbar-toggler {
    color: #fff;
    border-color: #fff;
    background-color: #00612B;
    border-radius: 4px;
    border: 1px solid;
    fill: #fff;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: #7DD181;
    color: #242424;
    fill: #242424;
    border-color: #fff;

}